{% load staticfiles %}
<!--{#% load compress %#}-->

<!DOCTYPE html>

<html lang="pl">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="http://13oz.pl/media/favicon.ico"></link>

<!--{#% compress css %#}-->
        <link rel="stylesheet" href="{% static "css/blog-home.css" %}" >
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" >
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    {% block external_css %}
    {% endblock %}
<!--{#% endcompress %#}-->

{#% compress js %#}
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    {% block external_js %}
    {% endblock %}
{#% endcompress %#}


    <title> {% block title %} 13OZ | CanSat {% endblock %} </title>

    {% block nav %}
        <nav class="navbar navbar-inverse navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">13OZ | CanSat </a>
                </div>

                <div class="collapse navbar-collapse navbar-collapse text-center" id="navbar">
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a href="/" title="Przenieś">Strona Główna</a>
                        </li>
                        <li>
                            <a href="{% url "project" %}" title="Opis naszego projektu">O projekcie</a>
                        </li>
                        <li>
                            <a href="{% url "team" %}" title="Kim tak dokładnie jesteśmy?">Zespół</a>
                        </li>
                        <li>
                            <a href="{% url "gift" %}" title="Nagrody za dotacje poprzez portal wspieram.to">Nagrody</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/cansat13oz" title="Oficjalna strona Facebookowa projektu">Facebook</a>
                        </li>
						<li>
                            <a href="{% url "map" %}" title="Gdzie znajduje się nasza puszka?">Położenie CanSat'u</a>
                        </li>
						<li>
                            <a href="http://www.13oz.pl/charts/h" title="Zgromadzone pomiary">Pomiary</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

</head>

<body>
{% block hr_one %}
<hr />
{% endblock %}
    <div class="container">
        <div class="row">
            {% block content %}
                {% block post_list %}
                    <div class="col-md-9">
                        {% for post in wpis_list %}
                            <div class="well well-lg">
                               <h1> <b> <a href="{{ post.get_absolute_url }}" title="Czytaj więcej"> {{ post.sTitle }}</b> </a> </h1>
                               <p class="well-sm"><span class="glyphicon glyphicon-pencil"></span> Stworzony przez <a href="{% url "member" id=post.oAuthor.id %}">{{ post.oAuthor.get_full_name }}</a> </p>
                               <hr />
                               <p> {{ post.sBody|safe|truncatewords:"100" }} </p>

                                <br />
                               <a class="btn btn-primary" href="{{ post.get_absolute_url }}" title="Czytaj więcej" >Więcej <span class="glyphicon glyphicon-chevron-right"></span></a>
                            </div>
                        {% endfor %}

                        </div>
                {% endblock %}

                {% block sidebar %}
                    <div class="col-md-3">
                    {# Sidebary zostały wyłączone na telefonach #}
                    {% if sidebar_list and flavour != "mobile" %}
                        <div class="well well-sm text-center">
                            <h2> <b> Ogłoszenia: </b> </h2> <hr>
                           {% for sb in sidebar_list %}
                                <h3> <b>{{ sb.sTitle }} </b> </h3>
                                <p> {{ sb.sBody|safe }} </p>
								{% if sb != sidebar_list.last %}
								<hr>
							   {% endif %}
                           {% endfor %}
                        </div>
                    {% endif %}

                    </div>
                {% endblock %}
            {% endblock %}
        </div>
    {% block hr_two %}
 <hr />
    {% endblock %}

     {% block paginator %}
         {% if wpis_list %}
             <nav class="text-center">
                  <ul class="pagination">
                     {% if wpis_list.has_previous %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{ wpis_list.previous_page_number }}" aria-label="Poprzednia">
                    {% else %}
                          <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Poprzednia">

                    {% endif %}
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Poprzednia</span>
                      </a>
                    </li>
                  {% for page in range %}
                    {% if page == wpis_list.number %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ page }} <span class="sr-only">(aktualna)</span></a>
                        </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                      {% endif %}
                  {% endfor %}
                  {% if wpis_list.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ wpis_list.next_page_number }}" aria-label="Następna">
                  {% else %}
                      <li class="page-item disabled">
                      <a class="page-link" href="#" aria-label="Następna">
                  {% endif %}
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Następna</span>
                      </a>
                    </li>
                  </ul>
            </nav>
        {% endif %}
     {% endblock %}

    <hr />

         {% block footer %}
             <footer>
			 
                <center>
				<div class="well well-lg">
                    <h2> Partnerzy: </h2> <hr>
                     <div class="row">
                        <div class="col-lg-12">
                    {% for sponsor in sponsor_list %}
                           <p style="text-center"> <a href="{{ sponsor.sUrl }}"><img title="{{ sponsor.sName }}" src="{{ sponsor.iImage.url }}" width="{{ sponsor.iWidth }}" height="{{ sponsor.iHeight }}"> </img> </a> </p>
                    {% endfor %}
                        </div>
                     </div>
					 </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Wszelkie prawa zastrzeżone &copy; 13oz.pl </br> Witryna stworzona przez Jerzego Kamińskiego</p>
                        </div>
                    </div>
                 </center>
			 
             </footer>
         {% endblock %}
    </div>
</body>

</html>