{% extends "base.html" %}
{% load staticfiles %}

{% block external_js %}

    <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/highcharts-more.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/highcharts-errorbar.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/modules/exporting.js'%}"></script>
    <script type="text/javascript">
$(document).ready(function(){
    var chartDataUrl = "{% url 'charts_data' %}?name={{ render_chart }}";
    var chart;
    var options = {
        chart: {
            renderTo: 'chart_panel',
            type: 'line',
        },
        legend: {enabled: true},
        title: {text: '13OZ - Prezentacja Wyników'},
        subtitle: {text: ''},
        xAxis: {title: {text: null}},
        yAxis: {title: {text: null}},
        tooltip: {
           formatter: function () {
               var unit = this.series.name.split("(");
               var string = "<span style='color:"+this.point.color+"'>\u25CF</span> " + unit[0] + ": " + this.point.y + "" + unit[1].replace(")", " ") + " <br>";

              if(this.series.options.time[this.series.data.indexOf( this.point )] != null)
                 string += 'Pomiar dokonany: ' + this.series.options.time[this.series.data.indexOf( this.point )].replace("T", " ");

               return string;
           }
        },
         plotOptions : {
             series : {
               events : {
                    hide: function () {
                        for(var v in chart.series)
                        {
                            if(chart.series[v].name.search("_error") != -1)
                                if(this.name == chart.series[v].name.replace("_error", ""))
                                   chart.series[v].hide();
                        }

                    },
                   show: function() {
                       for(var v in chart.series)
                        {
                            if(chart.series[v].name.search("_error") != -1)
                                if(this.name == chart.series[v].name.replace("_error", ""))
                                   chart.series[v].show();
                        }
                   },
               },
             },
         },
        series: [],
    };

    // format wczytywania chart_data?name=p

    var series_to_numbers = {};

    function create_chart() {
        $.getJSON(chartDataUrl,
            function (data) {
                options.chart.type = data["chart_type"];
                options.xAxis.categories = data[data['x_line']]["y"];
                options.xAxis.title.text = data["name_dict"][data['x_line']];

                for( var n in data["y_line"])
                {
                    n = data["y_line"][n];
                    series_to_numbers[data["name_dict"][n]] = n;
                    if (n == data['x_line'] || data[n]["y"] == null) continue;
                    options.series.push({name: data["name_dict"][n], data: data[n]["y"], time: data[n]["time"]});

                    if(data["chart_type"] == "line")
                        options.series.push({name: data["name_dict"][n]+"_error", type: 'errorbar',
                            linkedTo: data["name_dict"][n], data: data[n]["error"]});

                }

                chart = new Highcharts.Chart(options);
            }
        );
    }
    function update_chart()
    { $.getJSON(chartDataUrl,
            function (data) {
                // Zawsze uzalezniamy caly wykres od jednego parametru
                chart.xAxis[0].setCategories(data[data['x_line']]["y"], true);

                for(var n in chart.series)
                {
                    var s = chart.series[n], js = series_to_numbers[s.name];

                    if(s == data['x_line'] || js == null) continue;
                    s.setData(data[js]["y"], true);
                }
            });
    }
    create_chart();
    setInterval(update_chart, 2000);
});
</script>
{% endblock %}

{% block hr_two %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div id="chart_panel" class="panel-body"
    style="width:100%;height:850px">

    </div>
</div>
{% endblock %}