{% extends "base.html" %}
{% load staticfiles %}

{% block post_list %}
<div class="col-lg-9 well text-center">
<h1> <b> Nagrody za wsparcie projektu </b> </h1> <hr>
{% for shirt in gift_list %}
    <div class="well well-lg">
        <img title="{{ shirt.sName }}" src="{{ shirt.iImage.url }}" width="256" height="256"><br>
       <br> <p><b>Nazwa przedmiotu:</b> <u>{{ shirt.sName }}</u> </p> <p><b>Autor:</b> <u>{{ shirt.oAuthor.get_full_name }}</u> </p>
        </img>
    </div>
	{% if shirt != gift_list.last %}
		<hr>
		{% endif %}
{% endfor %}
</div>
{% endblock %}

{% block hr_two %}
{% endblock %}