{% extends "base.html" %}

{% block external_js %}
<script>
      function initMap() {
        var mapDiv = document.getElementById('map_main');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: {{ lat_cur }}, lng: {{ lng_cur }}},
          zoom: 15
        });

      {% for mar in markers %}
          var marker = new google.maps.Marker({
              position: {lat: {{ mar.1 }}, lng: {{ mar.2 }}},
              map: map,
              title: "{{mar.0}}. {{ mar.3 }}"
          }
          );
      {% endfor %}

      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer>

    </script>
{% endblock %}

{% block hr_two %}
{% endblock %}

{% block content %}
<div class="well text-center">
    <h1> Położenie sondy: </h1> <hr>
    <div class="panel panel-default">
        <div id="map_main" class="panel-body"
        style="width:100%;height:800px">

        </div>
     </div>
</div>
{% endblock %}