{% extends "base.html" %}

{% block title %}
13OZ | {{ user.get_full_name }}
{% endblock %}

{% block post_list %}
<div class="col-lg-9 well well-lg">
<h1> <b>{{ user.get_full_name }}</b> </h1>
<hr>
{{ user.teammember.sBody|safe }}
    <hr>
<a class="btn btn-primary" href="/">Wróć <span class="glyphicon glyphicon-chevron-left"></span></a>
</div>
{% endblock %}