{% extends 'base.html' %}

{# Objekt wywoływany /post/ #}

{% block title %}
13OZ | {{ obj.sTitle }}
{% endblock %}


{% block post_list %}
<div class="col-lg-9 well well-lg">
<h1> <b>{{ obj.sTitle }}</b> </h1>
<p class="well-sm"><span class="glyphicon glyphicon-pencil"></span> Stworzony przez <a href="#"> {{ obj.oAuthor.get_full_name }} </a> </p>
<hr>
{{ obj.sBody|safe }}
    </hr>
<a class="btn btn-primary" href="/">Wróć <span class="glyphicon glyphicon-chevron-left"></span></a>
</div>
{% endblock %}
{% block hr_two %}
{% endblock %}