{% extends "base.html" %}

{% block post_list %}
    <div class="col-lg-9 well well-lg text-center">
        <h2> <b> 13OZ </b> </h2> <hr>
    <p> {{ o_nas.value|safe }} </p>
    </div>
{% endblock %}

{% block hr_two %}
{% endblock %}