{% extends "base.html" %}
{% block title %}
13OZ | Skład drużyny
{% endblock %}

{% block post_list %}
<div class="well col-lg-9 text-center">
<h1> <b> Nasza drużyna </b> </h1> <hr />
{% for mem in member_list %}
    <div class="well well-sm">
    <p> <b> <h4> <a href="{% url "member" id=mem.id %}" title="Informacje szczegółowe">{{ mem.get_full_name }} </a> </h4>
    Role: {% for gr in mem.groups.all %} {{ gr }} {% endfor %}
    </b>
    </p>
    </div>
	{% if mem != member_list.last %}
    <hr>
	{% endif %}
{% endfor %}
</div>
{% endblock %}

{% block hr_two %}
{% endblock %}